body {
  margin: 0;
  font-family: sans-serif;
}

.App-header {
  background-color: #213018;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.App-title {
  padding-top: 5px;
  font-size: 1.5em;
  color: white;
}

.App-title > a {
  color: inherit;
  text-decoration: inherit;
}

.NavBar {
  padding: 8px 0 8px 0;
  background-color: #943416;
}

.NavBar > ul {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-item {
  margin: 0 auto;
  list-style: none;
  /*border: 1px solid lightgrey;*/
}

.nav-item > a {
  color: white;
  text-decoration: none;
}

main {
  position: relative;
  top: 100px;
  border: 1px solid white;
  padding: 0 20px 0 20px;
}

h1 {
  color: #213018;
}

div.comment-form {
  border: 1px solid lightgrey;
}

div.comment-form > form {
  display: block;
}

.cabin-photo {
  width: 100%;
}