body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #213018;
  padding: 5px;
}

.App-title {
  font-size: 1.5em;
  color: white;
}

.App-title > a {
  color: inherit;
  text-decoration: inherit;
}

.NavBar {
  position: fixed;
  top: 70px;
  width: 100%;
  padding: 10px 0 10px 0;
  background-color: #943416;
  /*border: 1px solid lightgrey;*/
}

.NavBar > ul {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-item {
  margin: 0 auto;
  padding: 0 5px 0 5px;
  list-style: none;
  /*border: 1px solid lightgrey;*/
}

.nav-item > a {
  color: white;
  text-decoration: none;
}

main {
  position: fixed;
  top: 140px;
  width: 100%;
  border: 1px solid lightgrey;
}

h1 {
  color: #213018;
}